.gamePage {
  background-color: var(--gray-1);
  min-height: 100svh;
  color: var(--black);
  padding: 1rem 0 1.5rem 0;
  display: grid;
  grid-template-rows: auto 1fr auto;

  @media (min-width: 768px) {
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 23.5rem;
    padding: 0;
  }
}

.hamburger {
  margin-right: 1rem;
  justify-self: end;
}

.text {
  font-size: 1.125rem;
  line-height: 115%;
  text-align: center;
  font-weight: 600;
  align-self: center;

  @media (min-width: 768px) {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 2rem;
    align-self: start;
    text-align: start;
    padding: 3rem;
  }

  @media (min-width: 1024px) {
    padding: 8.3rem 8.75rem 3rem 5rem;
  }
}
