.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 3rem 1rem;
  min-height: 100svh;
  margin-bottom: 1.5rem;
  background-color: var(--white);

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-content: center;
    gap: 4rem 2rem;
  }

  @media (min-width: 1024px) {
    padding: 5rem;
  }

  &.bg {
    background-image: linear-gradient(to bottom right, var(--white) 50%, var(--orange-5) 50%);
  }
}

.img {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  max-width: 39rem;

  @media (min-width: 768px) {
    margin-top: 0;
    grid-row: 1/3;
    justify-self: end;
  }
}

.text {
  @media (min-width: 768px) {
    align-self: end;
  }
}

.title {
  font-size: 2rem;
  line-height: 110%;
  font-weight: 600;
  color: var(--black);
  text-align: center;

  @media (min-width: 768px) {
    text-align: start;
    font-size: 3.5rem;
  }
}

.subtitle {
  font-size: 1.125rem;
  line-height: 116%;
  color: var(--black);
  opacity: 0.5;
  text-align: center;
  margin-bottom: 0.5rem;

  @media (min-width: 768px) {
    text-align: start;
    font-size: 2rem;
  }
}

.link {
  margin-top: auto;

  @media (min-width: 768px) {
    margin-top: 0;
    width: min-content;
    align-self: start;
  }
}

// TODO - check
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}
